.cabecalho{
    display: flex;
    padding: 2em;
    align-items: center;
}

.perfil--foto--img{
    border-radius: 60px;
    width: 5em;
    margin-right: 2em;

}

.perfil--dados--nome{
    font-size: 1.83em;
    font-weight: 700;
    line-height: 160%
}

.perfil--dados--consultas{
    font-size: 1.16em;
    font-weight: 400;
}

@media screen and (min-width: 1024px) {

    .cabecalho {
        padding-left: 14vw;
    }
}