.rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.rodape__menu {
    background-color: var(--branco);
    border-radius: 12px 12px 0px 0px;
    box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: space-evenly;
    height: 58px;
}

.menu__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.menu__item:active,
.btn-primario:active {
    opacity: 0.6;
}

.menu__item--texto {
    font-size: 1em;
    font-weight: 400;
    color: var(--preto);
}

.selecionado {
    color: var(--azul);
}


@media screen and (min-width: 1024px) {



    .rodape {
        position: fixed;
        width: 12vw;
        height: 100vh;
    }

    .rodape__menu {
        border-radius: 0;
        flex-direction: column;
        height: 100vh;
        justify-content: initial;
        gap: 2em;
        padding-top: 3em
    }

    .menu__item {
        padding: 0 1vw;
        flex-direction: row;
        justify-content: initial;
        gap: 1.5em;
        cursor: pointer;

    }

    .menu__item--texto {
        font-size: 1.3vw;
        font-weight: 500;
    }

    .menu__item:hover {
        opacity: 0.8;
    }

    .menu__item:active {
        opacity: 0.6;
    }

}