.rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.rodape__menu {
    background-color: var(--branco);
    border-radius: 12px 12px 0px 0px;
    box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: space-evenly;
    height: 58px;
}

.menu__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.menu__item:active,
.rodape__btn--botao:active {
    opacity: 0.6;
}

.menu__item--texto {
    font-size: 12px;
    font-weight: 400;
    color: var(--preto);
}

.selecionado {
    color: var(--azul);
}

